body{
    background-color: rgb(82, 77, 77);
    color: white;
}
p em{
    color: orange;
}
.title h3,h1{
    color: rgb(179, 179, 236);
}
.mood{
    width: 150px;
    height: 150px;
    margin: 10;
}